<h2>Herzlich Willkommen beim Corona-Checker</h2>
<h4>Aktuell befindet sich Baden-Württemberg in der folgenden Stufe:</h4>
<h4 class="border">{{ alarmstufe?.label }}: {{ alarmstufe?.description }}</h4>

<h4>Was möchtest du unternehmen?</h4>
<div class="radio" *ngFor="let lebensbereich of lebensbereiche">
  <input [(ngModel)]="selectedLebensbereichId" type="radio" [value]="lebensbereich.id"/>{{ lebensbereich.description }}
</div>

<button class="button" type="button" [disabled]="!selectedLebensbereichId" (click)="onClick()">Senden</button>

<div *ngIf="massnahme">
    <h4 class="border">Aktuelle Einschränkungen:<BR>{{ massnahme?.beschreibung }}</h4>
</div>
