<h2>Herzlich Willkommen beim Corona-Checker</h2>
<h4>Aktuell befindet sich Baden-Württemberg in der folgenden Stufe:</h4>
<h4 class="border">{{ alarmstufe?.label }}: {{ alarmstufe?.description }}</h4>

<h4>Was möchtest du unternehmen?</h4>
<div class="radio" *ngFor="let lebensbereich of lebensbereiche">
  <label>
    <input type="radio" (change)="onChangeRadio()" [(ngModel)]="selectedLebensbereichId" [value]="lebensbereich.id"/>{{ lebensbereich.description }}
  </label>
  <div *ngIf="lebensbereich.id == selectedLebensbereichId">
      <h4 class="border">Aktuelle Regelung:<BR>{{ regelung }}</h4>
  </div>
</div>
