:host {
  font-family: "Helvetica";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.formular {
  margin: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.toolbar {
  padding: 8px;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #ffcc01;
  color: black;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.footer {
  margin: 20px 12px 60px 12px;
}
